.profile_bg {
    background-image: url(../Images/bgFooterBlur.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 88vh;
    max-height: 100%;
    .row div{
        padding: 3rem;
    }
}
@media only screen and (max-width: 992px) {
    .profile_hero{
        display: none;
    }
}

.profile_dp {
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
}

.profile_hero {
    width: 100%;
}

.profile_content {
    text-align: justify;
}






// NEW REPO
.newrepo_bg{
    background-image: url(../Images/bgNoCircle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 88vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .newrepo_topicInfo {
        display: flex;
    }
}



// MY REPO
.myrepo_bg{
    background-image: url(../Images/bgMyRepo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 88vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// SEARCH REPO
.searchrepo_bg{
    background-image: url(../Images/bgSearchRepo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 88vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





// AUTH

.auth_bg {
    background-image: url(../Images/bgFooterBlur.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 88vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .authSvg {
        width: 100%;
    }

    .login_form{
        text-align: left;
        padding-left: 5rem;
    }
}

@media (max-width: 992px) {
    .authSvg {
        display: none;
    }
    .login_form{
        padding: 0rem;
    }
}




#file-input {
    display: none;
}


.crudIcon {
    height: 1.5rem;
    &:hover{
        cursor: pointer;
    }
}


// FINAL REPO
.finalrepo_bg{
    background-image: url(../Images/bgBlur.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 88vh;
    max-height: 100%;
    text-align: left;
    
    .finalrepo_container {
        padding-top: 10rem;
    }
}